[Desktop Entry]
Version=1.0
Type=Application
Name=Stremio Enhanced
GenericName=Media Center
Comment=Enhanced Stremio with MPV, Anime4K, Discord RPC & ThumbFast
Icon=stremio-enhanced
Exec=stremio-enhanced %U
Terminal=false
Categories=AudioVideo;Video;Player;TV;
MimeType=x-scheme-handler/stremio;
Keywords=stream;movie;tv;anime;torrent;
StartupWMClass=com.stremio.Stremio
